<li class="mdc-list-item">
  <span class="cover">
    <img src="{{cover}}" alt="">
  </span>	
  <span class="mdc-list-item__text">
    {{title}}
    <span class="mdc-list-item__secondary-text">
      {{album}}
    </span>
  </span>
  <span class="mdc-list-item__text time">{{time}}</span>
</li>
<li role="separator" class="mdc-list-divider"></li>